@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraft.ttf");
}

html, body {
    font-family: "Minecraft", sans-serif;
    background-color: rgb(221, 221, 221);
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchContainer {
    background-color: white;
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: top 10.0s, left 10.0s; /* !!! */
}

.SearchContainer input {
    margin-bottom: auto;
    margin-top: 20px;
    height: 20px;
}

.SearchContainer p {
    color: red;
    font-size: 8px;
    display: none; /* flex */
}

.SearchContainer button {
    background-color: black;
    color: white;
    margin-bottom: 20px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
}

.MainInfo {
    position: absolute;
    left: 8%;
    bottom: 8%;
    background-color: white;
    height: 60%;
    width: 20%;
    border-radius: 15px;
    display: none; /* grid */
    place-content: center;
}

.MainInfo p {
    width: 150px;
    height: 50px;
    background-color: rgb(221, 221, 221);
    margin: 15px 0;
    display: grid;
    place-content: center;
    border-radius: 15px;
}

.RestInfo1, .RestInfo2 {
    position: absolute;
    right: 8%;
    display: none; /* grid */
    place-content: center;
    background-color: white;
    border-radius: 15px;
    width: 23%;
    height: 83%;
}

.RestInfo1 p, .RestInfo2 p {
    width: 170px;
    height: 55px;
    background-color: rgb(221, 221, 221);
    margin: 17px 0;
    display: grid;
    place-content: center;
    border-radius: 15px;
}

.RestInfo2 {
    right: 36%;
}
