@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraft.ttf");
}

body {
    font-family: "Minecraft", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(22, 22, 22);
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
}

.container {
    position: relative;
    top: 50px;
    margin: 30px;
    width: 300px;
    height: 100px;
    background-color: #000000bf;
    border-radius: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.container .playerName {
    position: absolute;
    top: 0px;
    color: white;
    font-size: 18px;
}

.container #session {
    position: absolute;
    top: 40px;
}

.container #gameType {
    position: absolute;
    top: 40px;
}

.container2 {
    position: relative;
    top: 50px;
    margin: 30px;
    width: 300px;
    height: 100px;
    background-color: #000000bf;
    border-radius: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.container2 #guild {
    position: absolute;
    top: 0px;
    color: white;
    font-size: 18px;
}

.container2 #guildName {
    position: absolute;
    top: 40px;
    color: rgb(136, 136, 136);
}

.search {
    position: fixed;
    width: 100%;
    height: 100%;
}

.search input, button {
    position: fixed;
    top: 0;
}

.search input {
    margin: 10px;
    padding: 7px 15px;
    font-size: 16px;
    background-color: #000000bf;
    color: white;
}

.search button {
    left: 250px;
    margin: 10px;
    padding: 7px 15px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:hover {
    background-color: #1a1a1a;
}

.search button:active {
    background-color: #404040;
}

#message {
    color: rgb(170, 170, 170);
    font-size: 16px;
    position: absolute;
    background-color: #272727;
    padding: 15px 30px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    position: relative;
    top: 50px;
    margin: 30px;
    width: 300px;
    height: 100px;
    background-color: #000000bf;
    border-radius: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.container3 p {
    position: absolute;
    top: 0px;
    color: white;
    font-size: 18px;
}

.container3 #created {
    position: absolute;
    top: 40px;
    color: white;
}
